@font-face {
    font-family: 'pt_sansregular';
    src: url('fonts/PTS55F-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pt_sansitalic';
    src: url('fonts/PTS56F-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pt_sansbold';
    src: url('fonts/PTS75F-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pt_sansbold_italic';
    src: url('fonts/PTS76F-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*   title font   */

@font-face {
    font-family: 'barlow_condensedbold';
    src: url('fonts/BarlowCondensed-Bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'barlow_condensedbold_italic';
    src: url('fonts/BarlowCondensed-BoldItalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*   special font   */

@font-face {
    font-family: 'amaticbold';
    src: url('fonts/amatic-bold-webfont.woff2') format('woff2'),
         url('fonts/amatic-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'amatic_scregular';
    src: url('fonts/amaticsc-regular-webfont.woff2') format('woff2'),
         url('fonts/amaticsc-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'cardenio_modernbold';
    src: url('fonts/cardenio_modern_bold-webfont.woff2') format('woff2'),
         url('fonts/cardenio_modern_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'fonts/cardenio_modernregular';
    src: url('fonts/cardenio_modern_std-webfont.woff2') format('woff2'),
         url('fonts/cardenio_modern_std-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
