@import url("font.css");
/* Colors
Cerulean blue : #217CA3  ~darker #116C93
asphalt : #32384D  ~ clearer : #42485D
shadow : #211F30
mustard : #E29930  ~ honey  : #EB8A3E
terracotta : #D24136  ~ apple red : #D13525
*/
/* -------------------- General layout -------------------- */

body {
	font-family: 'pt_sansregular';
	color:#404040;
	background:#f7f5f8;
}
header{
	position: relative;
	height: 200px;
	color: #b4eaff;
	background: #217CA3; /* Old browsers */
	background: -moz-linear-gradient(top, #217CA3 0%, #116C93 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #217CA3 0%,#116C93 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #217CA3 0%,#116C93 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#217CA3', endColorstr='#116C93',GradientType=0 ); /* IE6-9 */
}
footer{
	color: #a4daef;
	margin-bottom: 8px;
	background: #217CA3; /* Old browsers */
	background: -moz-linear-gradient(top, #217CA3 0%, #116C93 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #217CA3 0%,#116C93 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #217CA3 0%,#116C93 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#217CA3', endColorstr='#116C93',GradientType=0 ); /* IE6-9 */

}
footer a{
	color: #ffffff;
}
footer a:hover{
	color:#ffffff ;
}

/* -- parinux layout specs -- */
.row-parinux{
	background-color: #fff;
	margin-top: 8px;
	padding:12px;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, .2);
}
/* -- Local head -- */
#local-head{
	margin-bottom: 30px;
}
#carousel-zone{
	background-color: #42485D;
}
#pitch{
	padding:25px;
	color:#9298AD;
}
/* ----------------------   General reset   ---------------------- */

/* -- bootstrap modification -- */
html [type=button] {
    -webkit-appearance: none;
}
.btn-dark{
	color:#bdefff;
	font-family: 'amaticbold';
	font-size: 1em;
	letter-spacing: 0.1em;
	background-color:#217CA3;
	border-color:#bdefff;
}
.btn-dark:hover{
	background-color:#015C83;
	border-color:#ffffff;
}

.boxed-parinux {
	border: 1px solid #D7D7CD;
	margin: 2em 0em 1em 0em;
	padding: 1em;
}
.boxed-parinux h2, .boxed-parinux label{
	display: inline-block;
	position: relative;
	font-family: 'amaticbold';
	line-height: 0.85em;
	top: -1.1em;
	padding-left: 0.2em;
	padding-right: 0.2em;
	margin-bottom: 0em;
	background:#FFFFFF;
	color:#EB8A3E;
}
#selection ul{
	margin-top: -2em;
}

p.agenda-sub{
	margin : -2em 0 0.5em 0.36em;
	padding: 0 0 0 0;
	font-family: 'amaticbold';
	font-size: 1.6em;
	color:#EB8A3E;

}

/* -------------------- General font settings -------------------- */
h1,.h1,
h2,.h2,
h3,.h3 {
	font-family: 'barlow_condensedbold';
	line-height: 1.2;

}
h1, .h1 {
  font-size: 3.5rem;
	line-height: 3.3rem;
}
h2, .h2 {
  font-size: 2.5rem;
}
h3, .h3 {
  font-size: 1.6rem;
}
h4, .h4 {
  font-size: 1.4rem;
}
h5, .h5 {
  font-size: 1.2rem;
}
h6, .h6 {
  font-size: 1rem;
}
a {
	color:#217CA3;
}
a:hover {
	color:#42485D;
}
ul {
    padding-top: 0;
    margin-top: 0;
}
ul.agenda-evenements {
    list-style-type: none;
    padding-left: 0;
}
li{
    margin-top:15px;
}
ul.agenda-evenements li {
    margin-top: 0;
    padding-top:15px;
}

.arbo{
	font-size: 80%;
}
.info-publi{
	margin-top:-10px;
	color :#AAAAAA;
}
#selection small{
	display: block;
	margin-top: -10px;
	margin-bottom: 8px;
	color :#AAAAAA;
}
.arbo a{
	color :#EB8A3E;
}
li.art_sous_rub{
  padding-top:5px !important;
}

/* --------------------- elements -------------------- */
/* headers */
.headerjumbo {
	position:absolute;
	top:60px;
	left:60px;
	font-family: 'amaticbold';
	letter-spacing: 0.05em;
	font-size: 1.5em;
}
.headblock{
  display: table-cell;
  vertical-align: bottom;
}
.headerjumbo img{
   width:120px;
   margin-right: 10px;
 }
.headerjumbo p{
	margin: 0px;
	padding: 0px;
	font-size: 1.2em;
	line-height: 1.2em;
}
.headerjumbo h1{
	margin: 0px;
	padding: 0px;
	line-height: 1em;
	margin-bottom: -10px;
}
a.headerjumbo{
	color:#b4eaff;
}
a:hover.headerjumbo{
	color:#c2f4ff;
	text-decoration: none;
}
/* menu */
#nav{
	position: absolute;
	right: 25px;
	top: 25px;
}
#nav li{
	margin-bottom: 3px;
}




/* -- carousel -- */


#carousel-zone>div{
	padding-left: 0px;
}
#myCarousel {

}
.carousel-item{
	height:400px;
}
.carouselImgCont{
	position: relative;
	width: 100%;
	overflow: hidden;
}
#myCarousel img{
	max-width: 130%;
	height: auto;
	/*margin-left:-15%;*/
	vertical-align: middle;
}
#myCarousel .carousel-caption {
	right: 0%;
	left: 0%;
	bottom : 0%;
	padding-right: 15%;
	padding-left: 15%;
	padding-bottom: 0px;
	background-color: rgba(0, 0, 0, 0.6);
}
#myCarousel .carousel-caption h5 {
	opacity: 1;
	font-size: 1.5em;
	line-height: 1em;
}



#sites-accueil h3 a{
color : #D24136;
}
.fa-chevron-circle-right{
	color : #D24136;
}
/* -- search form -- */
#formulaire_recherche {
	margin-top: 2em;
}
/* -- site map -- */
#site-map ul{
	margin-left:1.5em;
}
#site-map li.rub{
	margin-top: 0.4em;
	font-weight: bold;
}
/* --------------------- MEDIA QUERIES -------------------- */
/*
Bootstrap BP :
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { ... }
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) { ... }
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { ... }
// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) { ... }
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/


/* Extra small devices ---------------------------------------- */

@media (max-width: 575.98px) {
    .headerjumbo {
      top:0px;
      left:20px;
    }
    .headerjumbo img{
      display:none;
    }
    #nav{
      left: 20px;
      right: auto;
    	top: 120px;
    }
}
/* Small devices ------------------------------------------------ */

@media (min-width: 576px) and (max-width: 767.98px)  {

  .headerjumbo img{
     width:80px;
   }

}
@media (max-width: 767.98px) {
	#pitch{
		padding-top: 0px;
		padding-bottom: 5px;
		padding-left: 0px;
		padding-right: 0px;
	}
	#pitch p{
		font-size: 0.85em ;
		line-height: 1.2em;
		margin-bottom: 0px;
	}
	.carousel-item{
		height:200px !important;
	}
	#myCarousel .carousel-caption {
		display: block !important;
		padding-top:4px;
	}
	#myCarousel .carousel-caption h5 {
		font-size: 1em;
	}
	#myCarousel .carousel-caption p {
		display: none !important;
	}
}
/* Medium devices -------------------------------------------------- */

@media (min-width: 768px) and (max-width: 991.98px){

	#pitch p{
		font-size: 0.95em ;
		margin-bottom: 0px;
	}
  .headerjumbo img{
     width:100px;
  }
	#myCarousel .carousel-caption {
		padding-top:10px;
	}
	#myCarousel .carousel-caption h5 {
		font-size: 1.2em;
	}
	#myCarousel .carousel-caption p {
		display: none !important;
	}


}
@media (max-width: 991.98px){
  .headerjumbo p{
  	font-size: 0.8em;
  	line-height: 1.2em;
  }
  .headerjumbo h1{
    font-size: 1.4em;
  	line-height: 1em;
    margin-top: 35px;
  	margin-bottom: -5px;
  }
	.carousel-item{
		height:300px;
	}

	/* Large devices -------------------------------------------------- */

}
@media (min-width: 992px) and (max-width: 1199.98px) {
  #pitch p{
		font-size: 1.2em ;
	}

	/* Extra large devices --------------------------------------------- */

}
@media (min-width: 1200px){
	#pitch p{
		font-size: 1.3em ;
	}

}
/* PARINUX Added Breakpoint  ---------------------------------------- */

@media (min-width: 1300px) {
  .container {
    max-width: 1240px;
  }
}


/* Reprise de style de Spip */
.spip_documents_center {
	text-align: center;
}
