#CACHE{2*3600}
<div id="syndic" class="boxed-parinux">
	<h2><:agenda:></h2>
	<p class="agenda-sub"><:agenda_sub:></p>
	<ul>
	<BOUCLE_agendadulibre(DATA){source json, https://www.agendadulibre.org/events.json?region=12}{par start_time}{0,5}>
		<li><i class="fas fa-chevron-circle-right "></i>&nbsp;<a href="https://www.agendadulibre.org/events/#VALEUR{id}" class="spip_out">#VALEUR{title}</a>
		<br>[(#VALEUR{start_time}|nom_jour|ucfirst)] [(#VALEUR{start_time}|affdate_court)][, (#VALEUR{place_name})][, (#VALEUR{city})]
		</li>
	</BOUCLE_agendadulibre>
	</ul>
	<p><a href="https://www.agendadulibre.org/?region=12">Tous les évènements d’Île-de-France sur l’agenda du libre</a></p>
</div>

