#FORMULAIRE_RECHERCHE
<INCLURE{fond=inclure/agenda,env} />
<B_sites_outils>
<div class="boxed-parinux">
<h2>Les outils de Parinux</h2>
<BOUCLE_sites_outils(SITES){!titre_mot='hide'}{id_rubrique=9}{par num nom_site}>
<p><a href="#URL_SITE"><i class="fas fa-link"></i>&nbsp;#NOM_SITE</a></p>
</BOUCLE_sites_outils>
</div>
</B_sites_outils>
<B_sites_accueil>
<div class="boxed-parinux">
<h2>Liens attachants</h2>
<BOUCLE_sites_accueil(SITES){!titre_mot='hide'}{id_rubrique=3}{par num nom_site}>
<p><a href="#URL_SITE"><i class="fas fa-bookmark"></i>&nbsp;#NOM_SITE</a></p>
</BOUCLE_sites_accueil>
</div>
</B_sites_accueil>
