<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
  <BOUCLE_compt(ARTICLES){titre_mot=actu}>
    <li data-target="#myCarousel" data-slide-to="[(#COMPTEUR_BOUCLE|moins{1})]"
    class="[(#COMPTEUR_BOUCLE|=={0}|?{'active',''})]"></li>
  </BOUCLE_compt>
  </ol>

  <div class="carousel-inner">
  <BOUCLE_art_carous(ARTICLES){par date}{age < 2}{0,3}{titre_mot=carrousel}>

    <div class="carousel-item  [(#COMPTEUR_BOUCLE|=={1}|?{'active',''})]">
      <a href="#URL_ARTICLE" title="En savoir plus..." class="carouselImgCont">
      <BOUCLE_image(DOCUMENTS){id_article}{extension==jpg|png|gif}>
      [(#FICHIER|image_reduire{700,700}|image_recadre{640,400,'center center','#42485d'})]
      <!-- <img class="d-block" src="#URL_DOCUMENT" alt="slide">-->
      </BOUCLE_image>
      </a>

      <a href="#URL_ARTICLE" title="En savoir plus...">
      <div class="carousel-caption d-none d-md-block">
        [<h5>(#TITRE)</h5>]
        [<p>(#INTRODUCTION{100})</p>]
      </div>
      </a>

    </div>

  </BOUCLE_art_carous>

  </div>
  <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
