<!--<div class="headerjumbo row">-->
	<a class="headerjumbo" href="#URL_SITE_SPIP">
	<div class="headblock">
		<img src="squelettes/img/parinux.png">
	</div>
	<div class="headblock">
		<h1>#NOM_SITE_SPIP</h1>
		[<p>(#SLOGAN_SITE_SPIP)</p>]
	</div>
</a>
