<meta http-equiv="Content-Type" content="text/html; charset=#CHARSET" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

[(#REM) Lien vers le flux RSS du site ]
<link rel="alternate" type="application/rss+xml" title="<:syndiquer_site:>" href="(#URL_PAGE{backend})" />

[(#REM) On appelle les feuilles de style ]

[(#REM) _#INSERT_HEAD_CSS ]

[(#REM) 3. Vos feuilles de style pour l'habillage du site a) theme, b) variante, c) specifique ]
<link rel="stylesheet" href="#CHEMIN{css/bootstrap.min.css}" type="text/css" /><!-- 4.0.0 -->
<link rel="stylesheet" href="#CHEMIN{css/parinux.css}" type="text/css" />
[(#REM)
	Balise permettant aux plugins d'inserer des appels javascript ;
	4. C'est ici que SPIP va inserer l'appel de la librairie jQuery
	5. Et appeler a la fin compacte_head pour agreger et compacter tout le head dans des fichiers statiques si l'option est cochee dans Configuration
]
[(#REM) _#INSERT_HEAD ]

[(#REM) 6. Vos scripts ]
<script src="#CHEMIN{js/jquery-3.2.1.slim.min.js}"></script>
<script src="#CHEMIN{js/popper.min.js}"></script>
<script src="#CHEMIN{js/bootstrap.min.js}"></script>
<script src="#CHEMIN{js/fontawesome-all.js}"></script>
[(#REM) Fierement fabrique avec SPIP ]
<meta name="generator" content="SPIP[ (#SPIP_VERSION)]" />

[(#REM) Favicon ]
[<link rel="icon" type="image/x-icon" href="(#CHEMIN{favicon.ico})" />
[<link rel="shortcut icon" type="image/x-icon" href="(#CHEMIN{favicon.ico})" />]]

[(#REM) meta robots ]
[<meta name="robots" content="(#ENV{robots})" />]
