<B_nav>
<div id="nav">
	<ul>
		<BOUCLE_nav(RUBRIQUES) {racine} {par num titre}{par titre}{titre!=Meta}>
		<a href="#URL_RUBRIQUE"><li type="button" class="btn btn-dark btn-sm">#TITRE</li></a>
		</BOUCLE_nav>
	</ul>
</div><!-- #nav -->
</B_nav>
