 <B_articles>
<div id="selection" class="boxed-parinux">
	<h2>Tout chaud</h2>
	<ul>
		<BOUCLE_articles(ARTICLES){id_rubrique=4}{!titre_mot='hide'}{par date}{age < 1}{0,5}>
		<li>
			<h3><a href="#URL_ARTICLE" rel="bookmark">#TITRE</a></h3>
			[<div>(#INTRODUCTION)</div>]
			<p class="text-right small"><i class="fas fa-chevron-circle-right "></i>&nbsp;<a href="#URL_ARTICLE" rel="bookmark" title="[(#TITRE|couper{80}|textebrut)]">lire l’article complet</a></p>
		</li>
		</BOUCLE_articles>
	</ul>
</div><!--#selection-->
</B_articles>
