<B_syndic>
<div id="syndic" class="boxed-parinux">
	<h2><:nouveautes_web:></h2>
	<ul>
		<BOUCLE_syndic(SYNDIC_ARTICLES) {age<180} {!par date} {0,3}>
		<li>[(#DATE|affdate_jourcourt) &ndash; ]<a href="#URL_ARTICLE"[ title="(#NOM_SITE|attribut_html|couper{80})"] class="spip_out">#TITRE</a></li>
		</BOUCLE_syndic>
	</ul>
</div>
</B_syndic>
