[(#REM)
	Le plan de site ci-dessous est a adapter selon les besoins.
	En particulier, on n'aura pas necessairement besoin de tous les elements (sous-rubriques, articles, breves et sites)
]
<div id="site-map">
<BOUCLE_secteurs(RUBRIQUES){racine}{!titre_mot='hide'}{par num titre}{par titre}>

<h3><i class="fas fa-code-branch"></i>&nbsp;#TITRE</h3>

[(#REM) Articles et sous-rubriques ]
<ul>
<BOUCLE_articles_racine(ARTICLES){!titre_mot='hide'}{id_rubrique} {par num titre}{!par date}>
	<li><a href="#URL_ARTICLE"><i class="fas fa-file-alt"></i>&nbsp;#TITRE</a></li>
</BOUCLE_articles_racine>

<BOUCLE_rubriques(RUBRIQUES){!titre_mot='hide'}{id_parent} {par num titre}{!par date}>
	<li class="rub"><a href="#URL_RUBRIQUE"><i class="fas fa-code-branch"></i>&nbsp;#TITRE</a></li>
	<ul>
			<BOUCLE_articles(ARTICLES){!titre_mot='hide'}{id_rubrique} {par num titre}{!par date}>
				<li><a href="#URL_ARTICLE"><i class="fas fa-file-alt"></i>&nbsp;#TITRE</a></li>
			</BOUCLE_articles>

			<BOUCLE_sous_rubriques(BOUCLE_rubriques)></BOUCLE_sous_rubriques>
	</ul>
</BOUCLE_rubriques>
</ul>
[(#REM) Sur le Web ]
<ul>
<B_sites>
	<BOUCLE_sites(SITES){!titre_mot='hide'}{id_secteur} {par nom_site}>
	<li><a href="[(#ID_SYNDIC|generer_url_entite{site,'','',#CONNECT})]"><i class="fas fa-link"></i>&nbsp;#NOM_SITE</a></li>
	</BOUCLE_sites>
</B_sites>
</ul>

</BOUCLE_secteurs>
</div>
