<div id="formulaire_recherche">
<form action="[(#ENV{action})]" method="get">
	<div class="input-group mb-3">
	[(#ENV{action}|form_hidden)]
		[<input type="hidden" name="lang" value="(#ENV{lang})" />]
		<input type="[(#HTML5|?{search,text})]" class="form-control"  placeholder="Recherche" aria-label="Recherche" aria-describedby="basic-addon2" name="recherche" id="#ENV{_id_champ}"[ value="(#ENV{recherche})"] accesskey="4" autocapitalize="off" autocorrect="off"
	/>
		<div class="input-group-append">
			<button type="submit" class="btn btn-dark"><i class="fa fa-search" aria-hidden="true"></i>
</button>
		</div>
	</div>
</form>
</div>
